{% extends "polls/base.html" %}
{% block content %}
<section class="poll list">
  <div class="row">
    <div class="col-xs-12 page-header index-title">
      <h1 class="text-center">Most voted questions</h1>
    </div>
    <div class="col-xs-10 col-md-8 col-lg-6 col-xs-offset-1 col-md-offset-2 col-lg-offset-3">
      {% if most_voted_question_list %}
      <ul class="list-group">
        {% for question in most_voted_question_list %}
        <li class="list-group-item">
          <span class="badge">{{ question.get_total_votes }} vote{{ question.get_total_votes|pluralize }}</span>
          <h4><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></h4>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No polls are available.</p>
      {% endif %}
    </div>
  </div> 
</section>
{% endblock content %}