@import url(https://fonts.googleapis.com/css?family=Oswald:300,700);
/* line 12, ../scss/app.scss */
html, body {
  height: 100%;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
}

/* line 17, ../scss/app.scss */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}

/* line 25, ../scss/app.scss */
h1, h2, h3,
h4, h5, h6 {
  font-weight: 700;
}

/* line 29, ../scss/app.scss */
p, span, label, a,
ol li, ul li, small {
  font-weight: 300;
}

/* line 36, ../scss/app.scss */
section .index-title {
  border: none;
}
/* line 38, ../scss/app.scss */
section .index-title h1 {
  font-size: 3em;
  letter-spacing: 2px;
}
/* line 45, ../scss/app.scss */
section.shop .question {
  padding-top: 4em;
}
/* line 47, ../scss/app.scss */
section.shop .question pre {
  margin-top: 1em;
}
/* line 54, ../scss/app.scss */
section.create form, section.detail form {
  background-color: #d3e0e0;
  padding: 1em;
  border-radius: 1em;
}
/* line 58, ../scss/app.scss */
section.create form .field-wrapper, section.detail form .field-wrapper {
  margin-bottom: 1em;
}
/* line 60, ../scss/app.scss */
section.create form .field-wrapper input, section.detail form .field-wrapper input {
  width: 100%;
}
/* line 64, ../scss/app.scss */
section.create form .field-wrapper ul.errorlist, section.detail form .field-wrapper ul.errorlist {
  list-style: none;
  padding: 0.25em 0.4em;
  background-color: #7d0202;
}
/* line 68, ../scss/app.scss */
section.create form .field-wrapper ul.errorlist li, section.detail form .field-wrapper ul.errorlist li {
  color: #FFFFFF;
}
